@media print {
  body {
    zoom: 0.65;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  nav.navbar {
    display: none;
  }

  .mt-lg-5 {
    margin-top: 0 !important;
  }

  .pt-5 {
    padding-top: 0.5rem !important;
  }

  .text-lg-start {
    text-align: left !important;
  }
}
